<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="card.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">

</head>

<body>
    </div>
    </div>

    <div class="slide-container  Swiper">
    
         
                <div class="card swiper-slide">
                    <div class="image-content">
                        <spam class="overlay"></spam>
                        <div class="card-image">
                            <img src="beautiful eyes.jpg" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                       <h2>name</h2>
                    <h2>specialisation</h2>
                        <h2>Hospitl</h2>
                        <input type="Submit" id="edith" value="Edith">
                        
                    </div>
                </div>
            </div>
    </div>



</body>

</html>