<!-- register2.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register2.css') }}">
</head>

<body>
    <h1>Registration Form</h1>
    <form method="post" action="{{ url_for('patient.register') }}" enctype="multipart/form-data">
        <p>
            Name:
            <input type="text" name="Name" placeholder="GeeksforGeeks" />
        </p>

        <p>
            E-mail Address:
            <input type="text" name="EMail" placeholder="demo@example.com" />
        </p>

        <p>
            ID Number:
            <input type="text" name="IDNumber" placeholder="Enter ID Number" />
        </p>
        <p>
            Age:
            <input type="age" name="age" />
        </p>
        <p>
            D.O.B:
            <input type="date" name="date" />
        </p>
        <p>
            Gender:
            <input type="radio" name="gender" value="male">Male
            <input type="radio" name="gender" value="female">Female
        </p>
        <p>
            Photo:
            <input type="file" name="photo" accept="image/*">
        </p>
        <p>
            Password:
            <input type="password" name="Password" />
        </p>

        <p>
            <input type="submit" value="Submit" name="Submit" />
        </p>
    </form>
</body>

</html>
